/*
############################
CSS dispositivos Moveis
############################
*/


/* iphone 3 */

@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 1) {
    .switch+label {
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    .botao__colorir {
        position: relative;
        color: #ffffff;
        margin-top: 18px;
        font-family: 'Questrial';
        font-size: 10px;
        font-weight: bold;
    }
    body {
        background-image: url("../img/back__mobile.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    .colorir {
        background-image: url("../img/back__mobile__colorir.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .img__perfil {
        width: 120px;
        height: auto;
    }
    #img__perfil {
        width: 120px;
        height: auto;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    h1,
    h3,
    h5 {
        color: rgb(31, 30, 30, 0.979);
        margin-bottom: 3px;
        font-family: 'Questrial';
    }
    .p__titulo {
        color: rgb(31, 30, 30, 0.979);
        margin: 10px 0px 10px 10px;
        font-family: 'Questrial';
        font-size: 12px;
        margin: 2px;
    }
    .p__texto {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Montserrat';
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .p__subtitulo {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 11px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
}


/* iphone 4 */

@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
    .switch+label {
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    .botao__colorir {
        position: relative;
        color: #ffffff;
        margin-top: 18px;
        font-family: 'Questrial';
        font-size: 10px;
        font-weight: bold;
    }
    body {
        background-image: url("../img/back__mobile.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    .colorir {
        background-image: url("../img/back__mobile__colorir.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .img__perfil {
        width: 120px;
        height: auto;
    }
    #img__perfil {
        width: 120px;
        height: auto;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    h1,
    h3,
    h5 {
        color: rgb(31, 30, 30, 0.979);
        margin-bottom: 3px;
        font-family: 'Questrial';
    }
    .p__titulo {
        color: rgb(31, 30, 30, 0.979);
        margin: 10px 0px 10px 10px;
        font-family: 'Questrial';
        font-size: 12px;
        margin: 2px;
    }
    .p__texto {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Montserrat';
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .p__subtitulo {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 11px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
}


/* iphone 5 */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
    .switch+label {
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    .botao__colorir {
        position: relative;
        color: #ffffff;
        margin-top: 18px;
        font-family: 'Questrial';
        font-size: 10px;
        font-weight: bold;
    }
    body {
        background-image: url("../img/back__mobile.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    .colorir {
        background-image: url("../img/back__mobile__colorir.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .img__perfil {
        width: 120px;
        height: auto;
    }
    #img__perfil {
        width: 120px;
        height: auto;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    h1,
    h3,
    h5 {
        color: rgb(31, 30, 30, 0.979);
        margin-bottom: 3px;
        font-family: 'Questrial';
    }
    .p__titulo {
        color: rgb(31, 30, 30, 0.979);
        margin: 10px 0px 10px 10px;
        font-family: 'Questrial';
        font-size: 12px;
        margin: 2px;
    }
    .p__texto {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Montserrat';
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .p__subtitulo {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 11px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
}


/* phones, 600px ou menores */

@media only screen and (max-width: 600px) {
    .switch+label {
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    .botao__colorir {
        position: relative;
        color: #ffffff;
        margin-top: 18px;
        font-family: 'Questrial';
        font-size: 10px;
        font-weight: bold;
    }
    body {
        background-image: url("../img/back__mobile.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    .colorir {
        background-image: url("../img/back__mobile__colorir.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .img__perfil {
        width: 120px;
        height: auto;
    }
    #img__perfil {
        width: 120px;
        height: auto;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    h1,
    h3,
    h5 {
        color: rgb(31, 30, 30, 0.979);
        margin-bottom: 3px;
        font-family: 'Questrial';
    }
    .p__titulo {
        color: rgb(31, 30, 30, 0.979);
        margin: 10px 0px 10px 10px;
        font-family: 'Questrial';
        font-size: 12px;
        margin: 2px;
    }
    .p__texto {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Montserrat';
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .p__subtitulo {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 11px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
}


/* iphone 6, 6s, 7, 8 */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
    .switch+label {
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    .botao__colorir {
        position: relative;
        color: #ffffff;
        margin-top: 18px;
        font-family: 'Questrial';
        font-size: 10px;
        font-weight: bold;
    }
    body {
        background-image: url("../img/back__mobile.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    .colorir {
        background-image: url("../img/back__mobile__colorir.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .img__perfil {
        width: 120px;
        height: auto;
    }
    #img__perfil {
        width: 120px;
        height: auto;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    h1,
    h3,
    h5 {
        color: rgb(31, 30, 30, 0.979);
        margin-bottom: 3px;
        font-family: 'Questrial';
    }
    .p__titulo {
        color: rgb(31, 30, 30, 0.979);
        margin: 10px 0px 10px 10px;
        font-family: 'Questrial';
        font-size: 12px;
        margin: 2px;
    }
    .p__texto {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Montserrat';
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .p__subtitulo {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 11px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
}


/* iphone 6+, 6s+, 7+, 8+ */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
    .switch+label {
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    .botao__colorir {
        position: relative;
        color: #ffffff;
        margin-top: 18px;
        font-family: 'Questrial';
        font-size: 10px;
        font-weight: bold;
    }
    body {
        background-image: url("../img/back__mobile.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    .colorir {
        background-image: url("../img/back__mobile__colorir.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .img__perfil {
        width: 120px;
        height: auto;
    }
    #img__perfil {
        width: 120px;
        height: auto;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    h1,
    h3,
    h5 {
        color: rgb(31, 30, 30, 0.979);
        margin-bottom: 3px;
        font-family: 'Questrial';
    }
    .p__titulo {
        color: rgb(31, 30, 30, 0.979);
        margin: 10px 0px 10px 10px;
        font-family: 'Questrial';
        font-size: 12px;
        margin: 2px;
    }
    .p__texto {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Montserrat';
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .p__subtitulo {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 11px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
}


/* iphone X , XS, 11 Pro, 12 Mini */

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .switch+label {
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    .botao__colorir {
        position: relative;
        color: #ffffff;
        margin-top: 18px;
        font-family: 'Questrial';
        font-size: 10px;
        font-weight: bold;
    }
    body {
        background-image: url("../img/back__mobile.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    .colorir {
        background-image: url("../img/back__mobile__colorir.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .img__perfil {
        width: 120px;
        height: auto;
    }
    #img__perfil {
        width: 120px;
        height: auto;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    h1,
    h3,
    h5 {
        color: rgb(31, 30, 30, 0.979);
        margin-bottom: 3px;
        font-family: 'Questrial';
    }
    .p__titulo {
        color: rgb(31, 30, 30, 0.979);
        margin: 10px 0px 10px 10px;
        font-family: 'Questrial';
        font-size: 12px;
        margin: 2px;
    }
    .p__texto {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Montserrat';
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .p__subtitulo {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 11px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
}


/* iphone 12, 12 Pro */

@media only screen and (min-device-width: 390px) and (max-device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .switch+label {
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    .botao__colorir {
        position: relative;
        color: #ffffff;
        margin-top: 18px;
        font-family: 'Questrial';
        font-size: 10px;
        font-weight: bold;
    }
    body {
        background-image: url("../img/back__mobile.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    .colorir {
        background-image: url("../img/back__mobile__colorir.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .img__perfil {
        width: 120px;
        height: auto;
    }
    #img__perfil {
        width: 120px;
        height: auto;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    h1,
    h3,
    h5 {
        color: rgb(31, 30, 30, 0.979);
        margin-bottom: 3px;
        font-family: 'Questrial';
    }
    .p__titulo {
        color: rgb(31, 30, 30, 0.979);
        margin: 10px 0px 10px 10px;
        font-family: 'Questrial';
        font-size: 12px;
        margin: 2px;
    }
    .p__texto {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Montserrat';
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .p__subtitulo {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 11px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
}


/* iphone XR, 11 */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    .switch+label {
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    .botao__colorir {
        position: relative;
        color: #ffffff;
        margin-top: 18px;
        font-family: 'Questrial';
        font-size: 10px;
        font-weight: bold;
    }
    body {
        background-image: url("../img/back__mobile.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    .colorir {
        background-image: url("../img/back__mobile__colorir.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .img__perfil {
        width: 120px;
        height: auto;
    }
    #img__perfil {
        width: 120px;
        height: auto;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    h1,
    h3,
    h5 {
        color: rgb(31, 30, 30, 0.979);
        margin-bottom: 3px;
        font-family: 'Questrial';
    }
    .p__titulo {
        color: rgb(31, 30, 30, 0.979);
        margin: 10px 0px 10px 10px;
        font-family: 'Questrial';
        font-size: 12px;
        margin: 2px;
    }
    .p__texto {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Montserrat';
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .p__subtitulo {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 11px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
}


/* iphone XS Max, 11 Pro Max */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    .switch+label {
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    .botao__colorir {
        position: relative;
        color: #ffffff;
        margin-top: 18px;
        font-family: 'Questrial';
        font-size: 10px;
        font-weight: bold;
    }
    body {
        background-image: url("../img/back__mobile.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    .colorir {
        background-image: url("../img/back__mobile__colorir.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .img__perfil {
        width: 120px;
        height: auto;
    }
    #img__perfil {
        width: 120px;
        height: auto;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    h1,
    h3,
    h5 {
        color: rgb(31, 30, 30, 0.979);
        margin-bottom: 3px;
        font-family: 'Questrial';
    }
    .p__titulo {
        color: rgb(31, 30, 30, 0.979);
        margin: 10px 0px 10px 10px;
        font-family: 'Questrial';
        font-size: 12px;
        margin: 2px;
    }
    .p__texto {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Montserrat';
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .p__subtitulo {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 11px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
}


/* iphone 12 Pro Max */

@media only screen and (min-device-width: 428px) and (max-device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
    .switch+label {
        position: relative;
        cursor: pointer;
        outline: none;
        user-select: none;
    }
    .botao__colorir {
        position: relative;
        color: #ffffff;
        margin-top: 18px;
        font-family: 'Questrial';
        font-size: 10px;
        font-weight: bold;
    }
    body {
        background-image: url("../img/back__mobile.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    .colorir {
        background-image: url("../img/back__mobile__colorir.png");
        background-repeat: no-repeat;
        background-size: auto;
        height: auto;
        margin: 0px auto 0;
        position: relative;
    }
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
    }
    .img__logo {
        width: 100px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    #img__logo {
        width: 120px;
        height: auto;
        margin: 8px 0px 0px 0px;
    }
    .img__perfil {
        width: 120px;
        height: auto;
    }
    #img__perfil {
        width: 120px;
        height: auto;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .icones__sociais {
        width: 25px;
        height: auto;
        margin: 8px 0px 5px 0px;
    }
    h1,
    h3,
    h5 {
        color: rgb(31, 30, 30, 0.979);
        margin-bottom: 3px;
        font-family: 'Questrial';
    }
    .p__titulo {
        color: rgb(31, 30, 30, 0.979);
        margin: 10px 0px 10px 10px;
        font-family: 'Questrial';
        font-size: 12px;
        margin: 2px;
    }
    .p__texto {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Montserrat';
        font-size: 11px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .p__subtitulo {
        color: rgb(31, 30, 30, 0.979);
        font-family: 'Questrial';
        font-weight: bold;
        font-size: 11px;
    }
    footer {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    .p__footer {
        color: #fff;
        margin: 10px;
        font-family: 'Questrial';
        font-size: 10px;
    }
}