/*
############################
CSS dispositivos Moveis
############################
*/

@media only screen and (max-width: 600px) {
    #img__perfil {
        width: 140px;
        height: auto;
        margin-top: 6%;
    }
    .box__externo {
        display: block;
    }
    .box__interno__mobile {
        display: flex;
        justify-content: center;
    }
    .p__titulo {
        font-size: 15px;
    }
    .p__texto {
        font-size: 14px;
    }
    .p__subtitulo {
        font-size: 14px;
    }
    .p__footer {
        font-size: 12px;
    }
}

@media only screen and (max-width: 390px) {
    #img__perfil {
        width: 120px;
    }
    .icones__sociais {
        width: 30px;
        margin: 8px 0px 0px 0px;
    }
    .p__footer {
        font-size: 10px;
    }
}

@media only screen and (max-width: 364px) {
    body {
        background-color: #fff;
    }
    #img__perfil {
        width: 120px;
        height: auto;
        margin-top: 6%;
    }
    .switch+label {
        margin: 10px -6px 10px -6px;
    }
    .switch--shadow+label:after {
        width: 15px;
    }
    .switch--shadow+label {
        width: 35px;
        height: 18px;
        background-color: #ffffff;
        border-radius: 30px;
    }
    footer {
        margin-top: 70px;
    }
    .icones__sociais {
        width: 22px;
        margin: 8px 0px 0px 0px;
    }
    .p__footer {
        font-size: 8.5px;
    }
}